 .app{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(235, 114, 235);
      background-image: url('./images/bg.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;

 }
 .app div{
      background-color: rgb(156, 29, 156);
      height: 30vh;
      width: 50vw;
      margin: 0;
      padding: 2rem;
      border-radius: 4rem;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
 }
 .app div  button{
      border-radius: 1.5rem;
      background-color: white;
      border: none;
      height: 4rem;
      padding: 1rem;
 }
 .app div  button:hover{
      background-color: rgb(235, 61, 235);
 }